<!doctype html>
<html lang="en">
  <head>
	<title>#s2ch Konsolechka help</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  </head>

  <body>


    <div class="container">

      <div class="starter-template">
        <h1>Команды c описанием</h1>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Команда</th>
      <th scope="col">Описание</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">!help
     </th>
      <td>Данная справка</td>
    </tr>
        <tr>
      <th scope="row">Консолечка, совет
     </th>
      <td>Даёт совет</td>
    </tr>
            <tr>
      <th scope="row">!twi
     </th>
      <td><a href="https://twitter.com/pierdolique">https://twitter.com/pierdolique</a></td>
    </tr>
     <tr>
      <th scope="row">!twi <текст>
     </th>
      <td>Пишет твит</td>
    </tr>
         <tr>
      <th scope="row">!twi -r<номер_твита> <текст>
     </th>
      <td>Пишет твит пользователю в ответ на твит <номер_твита><br/>Например: <b>!twi -r123451235 ты !пидор</b> напишет пользователю ответ на его твит номер 123451235</td>
    </tr>

         <tr>
      <th scope="row">!tr <текст> [язык (2 буквы)]
     </th>
      <td>Переводит на язык</td>
    </tr>
    <tr>
      <th scope="row">!gt ><текст> ><еще текст>
     </th>
      <td><p class="text-success">><текст><br />><еще текст></p></td>
    </tr>
        <tr>
      <th scope="row">!gty ><текст> ><еще текст>
     </th>
      <td><p class="text-success">>2018<br />><текст><br />><еще текст></p></td>
    </tr>
    <tr>
      <th scope="row">!gi <запрос>
     </th>
      <td>поиск по картинкам</td>
    </tr>
        <tr>
      <th scope="row">Консолечка, праздники<запрос>
     </th>
      <td>Перечисляет праздники на текущую дату</td>
    </tr>

        <tr>
      <th scope="row">!addotv <текст><запрос>
     </th>
      <td>Добавляет <текст> к базе ответов</td>
    </tr>
        <tr>
      <th scope="row">Консолечка, когда <текст>
     </th>
      <td>Выдает случайный ответ из базы</td>
    </tr>

            <tr>
      <th scope="row">Консолечка найди <текст>
     </th>
      <td>Ищет по GeoIP</td>
    </tr><tr>
      <th scope="row">Консолечка, историю
     </th>
      <td>Выдаёт историю</td>
    </tr><tr>
      <th scope="row">!(?:google|g) <запрос>
     </th>
      <td>Поиск в гугл</td>
    </tr><tr>
      <th scope="row">!(?:yandex|y) <запрос>
     </th>
      <td>Поиск Яндекс</td>
    </tr><tr>
      <th scope="row">!ddg <запрос>
     </th>
      <td>Поиск DDG</td>
    </tr><tr>
    <th scope="row">Консолечка, дай ёбу
     </th>
      <td>Даёт ёбу</td>
    </tr>
    <tr>
    <th scope="row">Консолечка, ищи (\p{Cyrillic}{3,}(?:ов|ев|ей|их|ек|ак|ых))
     </th>
      <td>Ищет</td>
    </tr> <tr>
    <th scope="row">Консолечка, накатим
     </th>
      <td>Накатывает</td>
    </tr>

     <tr>
    <th scope="row">Консолечка, (прекрати|перестань|завязывай|кончай|заканчивай|заебала|хватит)\s*(?:меня|мне)?\s*(хайлайтить|подсвечивать|дергать|мешать|упоминать)
     </th>
      <td>Прекращает хайлайтить ваш ник в своих сообщениях</td>
    </tr>


     <tr>
    <th scope="row">Консолечка, (хайлайти|подсвечивай|дергай|мешай|упоминай)\s*(снова|опять|меня)
     </th>
      <td>Хайлайтит ваш ник опять</td>
    </tr>
  </tbody>



</table>
<h1>Список команд</h1>
<div>
<ul>
<li>Консолечка, ищи бульбашей</li>
<li>Консолечка, ищи из (.+)</li>
<li>Консолечка, ищи нерусей</li>
<li>!донгер</li>
<li>Консолечка, посоветуй кинцо</li>
<li>?([[:alnum:]]+)ша</li>
<li>!правила</li>
<li>!пидор</li>
<li>Консолечка, зашкварь (.+)</li>
</ul></div>
      </div>

    </div><!-- /.container -->



  </body>
</html>

